body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 2000px;
}
.Nav-bar{
    border: solid #00000057 1px;
    width: 99.8%;
    height: 90px;
    margin-left: 1px;
    box-shadow: 0px 0px 20px 1px #00000057;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: #15365f;
    position: fixed;
    z-index: 100;
}
.img1{
    position: absolute;
    width: 91px;
    height: 85px;
    left: -5px;
    top: -2px;
}
.countainer_of_img{
    position: absolute;
    border: #013265c4 solid 3px;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}
.inp1{
    position: absolute;
    left: 420px;
    top: 27px;
    width: 300px;
    height: 30px;
    border-radius: 7px;
    border: solid #3c3f6c 3px;
    transition-duration: 0.5s;
}
.inp1:hover{
    transform: scale(1.09 , 1.09);
}
.inp1:focus{
    outline-style: none;
}
.para1,.para2,.para3,.para4{
    position: absolute;
    text-decoration: none;
    top: 15px;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
    transition-property: all;
}
.para1{
    top: 30px;
    left: 1000px;
    color: #27aac4;
}
.para2{
    top: 30px;
    left: 1100px;
    color: white;
}
.para3{
    top: 30px;
    left: 1200px;
    color: #27aac4;
}
.para4{
    top: 30px;
    left: 1320px;
    color: white;
}
.para1:hover{
    color: #3c3f6c;
    background-color: #27aac4;
    width: 70px;
    height: 30px;
    padding-left: 10px;
    border-radius: 7px;
}
.para2:hover{
    color: #27aac4;
    background-color: #3c3f6c;
    width: 70px;
    height: 30px;
    padding-left: 10px;
    border-radius: 7px;
}
.para3:hover{
    color: #3c3f6c;
    background-color: #27aac4;
    width: 100px;
    height: 30px;
    padding-left: 10px;
    border-radius: 7px;
}
.para4:hover{
    color: #27aac4;
    background-color: #3c3f6c;
    width: 80px;
    height: 30px;
    padding-left: 10px;
    border-radius: 7px;
}
.container-central{
    width: 900px;
    height: 450px;
    background-color: #bcd9d5;
    margin-top: 700px;
    margin-left: 310px;
    border-radius: 25px;
}
.container1{
    border: solid white 1px;
    border-radius: 15px;
    width: 700px;
    height: 350px;
    position: absolute;
    top: 685px;
    left: 420px;
    background-color: white;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px 4px white;
}
.container1:hover{
    transform: scale(1.1,1.1);
}
.ipm{
    position: absolute;
    top: 5px;
    left: 19px;
    width: 170px;
    height: 170px;
    transition-duration: 0.5s;
}
.ipm:hover{
    transform: scale(1.09 , 1.09);
}
.tit{
    font-size: 39px;
    font-weight: 900px;
    font-family: Arial;
    position: absolute;
    top: 230px;
    left: 45px;
    color: black;
    transition-duration: 0.5s;
}
.tit:hover{
    transform: scale(1.1 , 1.1);
    color: #53b2ee;
}
.ipm1{
    width: 350px;
    height: 230px;
    position: absolute;
    left: 285px;
    top: 20px;
    transition-duration: 0.5s;
}
.millieux{
    position: absolute;
    border: solid black 1px;
    width: 0px;
    height: 270px;
    left: 250px;
    top: 35px;
    background-color: black;
}
.ipm1:hover{
    transform: scale(1.1 , 1.1);
}
.cont1{
    border: solid #eee 1px;
    position: absolute;
    border-radius: 7px;
    overflow: hidden;
    width: 300px;
    height: 500px;
    z-index: -10;
    margin-left: 100px;
    margin-top: 100px;
    background-color: #c4e2de;
}
.cont2{
    border: solid #eee 1px;
    position: absolute;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    overflow: hidden;
    width: 300px;
    height: 430px;
    z-index: 10;
    margin-left: 200px;
    margin-top: 170px;
}
.childof1{
    width: 300px;
    height: 500px;
}
.childof2{
    width: 300px;
    height: 430px;
}
.point0{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 145px;
    margin-left: 160px;
}
.point1{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 145px;
    margin-left: 205px;
}
.point2{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 145px;
    margin-left: 250px;
}
.point3{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 145px;
    margin-left: 295px;
}
.point4{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 145px;
    margin-left: 340px;
}
.point5{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 145px;
    margin-left: 385px;
}
.point6{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 145px;
    margin-left: 430px;
}
.poin1{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 100px;
    margin-left: 160px;
}
.poin2{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 190px;
    margin-left: 160px;
}
.poin3{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 235px;
    margin-left: 160px;
}
.poin4{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 280px;
    margin-left: 160px;
}
.poin5{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 325px;
    margin-left: 160px;
}
.poin6{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 415px;
    margin-left: 160px;
}
.poin7{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 460px;
    margin-left: 160px;
}
.poin8{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 370px;
    margin-left: 160px;
}
.po1{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 100px;
    margin-left: 205px;
}
.po2{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 100px;
    margin-left: 250px;
}
.po3{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 100px;
    margin-left: 295px;
}
.po4{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 100px;
    margin-left: 340px;
}
.po5{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 100px;
    margin-left: 385px;
}
.po6{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: black;
    position: absolute;
    z-index: 11;
    margin-top: 100px;
    margin-left: 435px;
}
.content-writing{
    width: 400px;
    height: 400px;
    position: absolute;
    margin-left: 800px;
    margin-top: 130px;
}
.sous-titre{
    font-weight: 500;
    font-size: 20px;
    margin-top: 45px;
}
.Dr{
    font-weight: 500;
    font-size: 20px;
    margin-top: 45px;
}
.footer{
    background-color: #3c3b4b;
    width: 99%;
    height: 350px;
    color: white;
    margin-top: 150px;
    position: absolute;
}
.parentofsrc{
    position: absolute;
    border: white solid 0px;
    display: inline;
    width: 40px;
    height: 40px;
    margin-left: 215px;
    margin-top: 15px;
    background-image: url("foder1/foterim1.jpg");
    background-size: cover;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.containerOfcontact{
    border: solid black 3px;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    position: absolute;
    padding-left: 5px;
    padding-top: 3px;
    margin-top: 15px;
    background-color: black;
    margin-left: 10px;
    margin-top: 15px;
    transition-duration: 0.5s;
}
.containerOfcontact:hover{
    transform: scale(1.07 , 1.07);
}
.titlFoter{
    font-family: Arial;
    font-size: 21px;
    font-weight: 700;
    position: absolute;
    display: inline;
}
.parentofsrc:hover{
    transform: scale(1.2 , 1.2);
}
.parentofsrc1{
    position: absolute;
    border: white solid 0px;
    display: inline;
    width: 40px;
    height: 40px;
    margin-left: 290px;
    margin-top: 15px;
    background-image: url("foder1/foterim2.jpg");
    background-size: cover;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.parentofsrc1:hover{
    transform: scale(1.2 , 1.2);
}
.parentofsrc2{
    position: absolute;
    border: white solid 0px;
    display: inline;
    width: 40px;
    height: 40px;
    margin-left: 365px;
    margin-top: 15px;
    background-image: url("foder1/fotermi3.jpg");
    background-size: cover;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.parentofsrc2:hover{
    transform: scale(1.2 , 1.2);
}
.parentofsrc3{
    position: absolute;
    border: white solid 0px;
    display: inline;
    width: 40px;
    height: 40px;
    margin-left: 440px;
    margin-top: 15px;
    background-image: url("foder1/fotermi4.jpg");
    background-size: cover;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.parentofsrc3:hover{
    transform: scale(1.2 , 1.2);
}
.pOfFoter{
    color: white;
    display: inline;
    width: 450px;
    margin-left: 1000px;
    margin-top: 20px;
    position: absolute;
}
.lig{
    width: 0px;
    height: 250px;
    border:solid white 1px;
    background-color: white;
    position: absolute;
    margin-left: 800px;
    margin-top: 40px;
}
.centralone{
    border:solid white 2px;
    border-radius: 7px;
    position: absolute;
    width: 400px;
    height: 190px;
    margin-left: 200px;
    margin-top: 130px;
}
.inpo3{
    border: solid Black 1px;
    border-radius: 5px;
    width: 230px;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    margin-left: 55px;
}
.inpq{
    border: solid Black 1px;
    border-radius: 5px;
    width: 230px;
    height: 30px;
    position: absolute;
    margin-top: 50px;
    margin-left: 55px;
}
.corect{
    font-size: 29px;
    margin-left: 10px;
}
.btr{
    margin-top: 100px;
    margin-left: 30px;
    border:white solid 0px;
    border-radius: 5px;
    margin-left: 230px;
    position: absolute;
    background-color: #0390ff;
    color: white;
    transition-duration: 0.5s;
}
.btr:hover{
    transform: scale(1.09 , 1.09);
}